body {
  background-image: url("/images/pattern\ image\ 2\ crop.jpg");
  background-size: 100% 300px;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.navbar li {
  padding-left: 10px;
  padding-right: 10px;
}

/* #color-text {
    color: white;
} */

#color-text:hover {
  transform: scale(1.2);
  color: #DB291D;
}

table, td, th {
  border: 3px solid black;
}

#table2 {
  border-collapse: separate;
  border-spacing: 30px 10px;
}

td {
  font-size: 20px;
  text-align: center;
  margin-right: 20px;
}

.flex-container:hover {
  background-color: lightgray;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.flex-container>div {
  font-size: 15px;
  padding: 5px;
  text-align: justify;
}

/* #table-wrapper {
  position: relative;
}

#table-scroll {
  height: 350px;
  overflow: auto;
  margin-top: 20px;
  border-radius: 20px;
} */

.searchContainer {
  display: grid;
  grid-template-columns: 1.5rem 4fr 1fr;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 15px;
  overflow: hidden;
  border: 3px solid black;
  margin-right: 50px;
}

.searchContainer:focus-within i {
  display: none;
}

.searchContainer:focus-within .searchBox {
  grid-column: 1/4;
}

.searchContainer:focus-within .searchBox::placeholder {
  color: transparent;
}

.searchIcon {
  padding: 0.5rem;
  grid-row: 1;
  grid-column: 3/4;
  z-index: 2
}

.searchBox {
  border: 0;
  grid-column: 1/4;
  grid-row: 1;
  outline: none;
}

.tooltips {
  position: relative;
  display: inline-block;
}

.tooltips .tooltipstext.one {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: justify;
  border-radius: 6px;
  padding: 10px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltips .tooltipstext.two {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: justify;
  border-radius: 6px;
  padding: 10px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

.tooltips:hover .tooltipstext {
  visibility: visible;
}