#projectImage {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.navbar li{
  padding-left:10px;
  padding-right: 10px;
}
/* #color-text{
  color: white;
} */

#color-text:hover {
  transform: scale(1.2);
  color: #DB291D;
}


#projectImage img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #e3e3e3;
    padding: 10px;
}

.info-project {
    padding: 20px;
    border: 1px solid #e3e3e3;
}

#userImageContainer {
    margin: 0;
    width: 5vw;
    min-width: 30px;
    height: 5vw;
    min-height: 30px;
}

#userImageContainer img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.nopaddingleft {
    /* padding-left: 0;
    margin-left: 2rem; */
    padding-left: 3vw;
}

.paddingright {
    padding-right: 0;
}

.nomargin {
    margin-bottom: 0;
}

.milestone {
    border: 2px solid #467A9C;
    padding: 20px;
}

/* Timeline Css */

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #000054;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    /* z-index: 400; */
}

ul.timeline>li {
    margin: 20px 0;
    padding-left: 20px;
}


ul.timeline>li.milestone-timeline:before {
    content: " ";
    background: #DB291D;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #000054;
    left: 20px;
    width: 20px;
    height: 20px;
    /* z-index: 400; */
}

#add-milestone-btn {
    position: relative;
    left: 16px;
}

#projectDescription {
    border: 2px solid #467A9C;
}

#my-awesome-dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    
    margin-left: auto;
    margin-right: auto;
}
/* .attachment {
    width: 50px;
    height: 70px;
} */


/* Style the Image Used to Trigger the Modal */
.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modalImage {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-image-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-image-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .closeImgModal {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .closeImgModal:hover,
  .closeImgModal:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }




